<manifest package="com.example.keepclone"
xmlns:android="http://schemas.android.com/apk/res/android">


<application
android:label="Keep Clone"
android:icon="@mipmap/ic_launcher"
android:theme="@style/Theme.Material3.DayNight.NoActionBar">


<activity
android:name=".MainActivity"
android:exported="true">
<intent-filter>
<action android:name="android.intent.action.MAIN" />
<category android:name="android.intent.category.LAUNCHER" />
</intent-filter>
  @Override
protected void onCreate(Bundle savedInstanceState) {
    super.onCreate(savedInstanceState);
    setContentView(android.R.layout.simple_list_item_1);
}
</activity>


</application>
</manifest>
